<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create Blog</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <link rel="stylesheet" href="../../static/styles.css" th:href="@{/styles.css}"/>
</head>
<body>

<nav>
    <ul>
        <li><a href="homePage.html" th:href="@{/homePage}">Home</a></li>
        <li><a href="viewMyBlogs.html" th:href="@{/viewMyBlogs}">View My Blog Posts</a></li>
        <li><a href="../Login/loginPage.html" th:href="@{/loginPage}">Logout</a></li>
    </ul>
</nav>

<h2>Create a Blog</h2>

<form action="homePage.html" th:action="@{/saveBlog}">
    <span>Title: </span><input type="text" name="title" value="" required="required" /> <br/>
    <span>Blog: </span><textarea name="post" required="required" rows="7" cols="50"></textarea><br/>
    <button>POST!</button>
</form>

</body>
</html>