<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home Page Of Blog</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <link rel="stylesheet" href="../../static/styles.css" th:href="@{/styles.css}"/>
</head>
<body>

<h2>Hello <span th:text="${user.getUsername()}">Name</span>!</h2>

<nav>
    <ul>
        <li><a href="createBlog.html" th:href="@{/createBlog}">Create A Blog Post</a></li>
        <li><a href="viewMyBlogs.html" th:href="@{/viewMyBlogs}">View My Blog Posts</a></li>
        <li><a href="../Login/loginPage.html" th:href="@{/loginPage}">Logout</a></li>
    </ul>
</nav>

<h3>POSTS</h3>

<form action="homePage.html" th:action="@{/homePage}">
    <label>
        <span>Search Post By Title:</span>
        <input type="text" name="search" value="" th:value="${search}"/>
    </label>
    <button>Search</button>
</form>


<table>
    <tr>
        <th>Title</th>
        <!--<th>Content</th>-->
        <th>Author</th>
        <th>Date</th>
        <th>View Post</th>
    </tr>
    <!--want to loop through the posts here-->
    <tr th:each="post:${postList}">
        <td th:text="${post.getTitle()}">Title 1</td>
        <!--<td th:text="${post.getPost()}">Content 1</td>-->
        <td>
            <a th:text="${post.getUsername()}" href="viewPersonBlogPosts.html" th:href="@{'/viewPersonBlogPosts?username='+${post.getUsername()}}">Author 1</a>
        </td>
        <td th:text="${post.getDate()}">Date 1</td>
        <td>
            <a href="viewBlogPost.html" th:href="@{'/viewBlogPost?post_id='+${post.getId()}}">View</a>
        </td>
    </tr>
    <tr th:remove="all">
        <td>Title 2</td>
        <!--<td>Content 2</td>-->
        <td>
            <a href="viewPersonBlogPosts.html">Author 2</a>
        </td>
        <td>Date 2</td>
        <td>
            <a href="viewBlogPost.html">View</a>
        </td>
    </tr>
</table>

</body>
</html>