<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>View Blog Post</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <link rel="stylesheet" href="../../static/styles.css" th:href="@{/styles.css}"/>
</head>
<body>

<nav>
    <ul>
        <li><a href="homePage.html" th:href="@{/homePage}">Home</a></li>
        <li><a href="createBlog.html" th:href="@{/createBlog}">Create A Blog Post</a></li>
        <li><a href="viewMyBlogs.html" th:href="@{/viewMyBlogs}">View My Blog Posts</a></li>
        <li><a href="../Login/loginPage.html" th:href="@{/loginPage}">Logout</a></li>
    </ul>
</nav>

<a href="editDeleteBlogPost.html" th:href="@{'/editDeleteBlogPost?id='+${blogPost.getId()}}">Edit/Delete Post</a>
<h2>Title: <span th:text="${blogPost.getTitle()}">JAVA LAVA</span></h2>
<h4>Author: <span th:text="${blogPost.getAuthor().getUsername()}">Hawaiian</span></h4>
<h5>Date: <span th:text="${blogPost.getDate()}">TODAY</span></h5>

<h3>Post: </h3>
<span th:text="${blogPost.getPost()}">Learning Java is like jumping into Lava. It's intense.</span>

<br />

<h4>COMMENTS: </h4>
<table>
    <tr >
        <th>Author</th>
        <th>Comment</th>
        <th>Date</th>
    </tr>
    <tr th:each="comment:${blogPost.getComments()}">
        <td th:text="${comment.getAuthor().getUsername()}">Author 1</td>
        <td th:text="${comment.getText()}">Comment 1</td>
        <td th:text="${comment.getDate()}">Date 1</td>
    </tr>
    <tr th:remove="all">
        <td>Author 2</td>
        <td>Comment 2</td>
        <td>Date 2</td>
    </tr>
</table>

<h3>!!!!!! Give your opinion !!!!!</h3>
<input type="checkbox"/> LIKE <br />

<form action="viewBlogPost.html" th:action="@{/addComment}">
    Comment: <textarea name="comment" rows="4" cols="50"></textarea> <br/>
    <input type="hidden" name="post_id" th:value="${blogPost.getId()}"/>
    <button>Give my opinion!</button>
</form>



</body>
</html>