<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>View the User's blogs</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <link rel="stylesheet" href="../../static/styles.css" th:href="@{/styles.css}"/>
</head>
<body>

<nav>
    <ul>
        <li><a href="homePage.html" th:href="@{/homePage}">Home</a></li>
        <li><a href="createBlog.html" th:href="@{/createBlog}">Create A Blog Post</a></li>
        <li><a href="../Login/loginPage.html" th:href="@{/loginPage}">Logout</a></li>
    </ul>
</nav>

<h2>Your Blogs</h2>

<table>
    <tr >
        <th>Title</th>
        <!--<th>Content</th>-->
        <th>Date</th>
        <th>More Details</th>
    </tr>
    <tr th:each="post:${myBlogs}">
        <td th:text="${post.getTitle()}">Title 1</td>
        <!--<td th:text="${post.getPost()}">Content 1</td>-->
        <td th:text="${post.getDate()}">Date 1</td>
        <td>
            <a href="viewBlogPost.html" th:href="@{'/viewBlogPost?id=' + ${post.getId()}}">View</a>
        </td>
    </tr>
    <tr th:remove="all">
        <td>Title 2</td>
        <!--<td>Content 2</td>-->
        <td>Date 2</td>
        <td>
            <a href="viewBlogPost.html">View</a>
        </td>

    </tr>
</table>

</body>
</html>