<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home Page Of Blog</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>
</head>
<body>

<h2>Hello <span th:text="${user.getUsername()}">Name</span>!</h2>

<nav>
    <ul>
        <li><a href="createBlog.html" th:href="@{/createBlog}">Create A Blog</a></li>
        <li><a href="viewMyBlogs.html" th:href="@{/viewMyBlogs}">View My Blogs</a></li>
        <li><a href="loginPage.html" th:href="@{/loginPage}">Logout</a></li>
    </ul>
</nav>

<h3>POSTS</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th>Date</th>
        <th>View Post</th>
    </tr>
    <!--want to loop through the posts here-->
    <tr th:each="blog:${blogList}">
        <td th:text="${blog.getTitle()}">Title 1</td>
        <td th:text="${blog.getPost()}">Content 1</td>
        <td th:text="${blog.getUsername()}">Author 1</td>
        <td th:text="${blog.getDate()}">Date 1</td>
        <td>
            <a href="viewBlogPost.html" th:href="@{'/viewBlogPost?postId='+${blog.getId()}}">View</a>
        </td>
    </tr>
    <tr th:remove="all">
        <td>Title 2</td>
        <td>Content 2</td>
        <td>Author 2</td>
        <td>Date 2</td>
        <td>
            <a href="viewBlogPost.html">View</a>
        </td>
    </tr>
</table>

</body>
</html>