<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View the User's blogs</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>
</head>
<body>

<h2>Your Blogs</h2>

<table>
    <tr th:each="blog:${myBlogs}">
        <th>Title</th>
        <th>Content</th>
        <th>Date</th>
        <th>More Details</th>
    </tr>
    <!--want to loop through the posts here-->
    <tr>
        <td th:text="${blog.getTitle()}">Title 1</td>
        <td th:text="${blog.getPost()}">Content 1</td>
        <td th:text="${blog.getDate()}">Date 1</td>
        <td>
            <a href="viewBlogPost.html" th:href="@{'/viewBlogPost?blogId=' + ${blog.getId()}}">View</a>
        </td>
    </tr>
    <tr th:remove="all">
        <td>Title 2</td>
        <td>Content 2</td>
        <td>Date 2</td>
        <td>
            <a href="viewBlogPost.html">View</a>
        </td>

    </tr>
</table>

</body>
</html>