<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>View Blog Post</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>
</head>
<body>

<nav>
    <li><a href="homePage.html" th:href="@{/homePage}">Home</a></li>
    <li><a href="createBlog.html" th:href="@{/createBlog}">Create Blog</a></li>
    <li><a href="loginPage.html" th:href="@{/loginPage}">Logout</a></li>
</nav>

<a href="viewBlogPost.html" th:href="@{/editDeletePost}">Edit/Delete Post</a>
<h2>Title: <span th:text="${blogPost.getTitle()}">JAVA LAVA</span></h2>
<h4>Author: <span th:text="${blogPost.getUsername()}">Hawaiian</span></h4>
<h5>Date: <span th:text="${blogPost.getDate()}">TODAY</span></h5>

<h4>Post: <br/>
    <span th:text="${blogPost.getPost()}">Learning Java is like jumping into Lava. It's intense.</span>
</h4>

<form action="viewBlogPost.html" th:action="@{/viewBlogPost}">
    <input type="checkbox" name="like" />LIKE <br />
    Comment: <textarea name="comment" rows="4" cols="50"></textarea> <br/>
    <button>Give my opinion!</button>
</form>


</body>
</html>