<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>View Blog Post</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>
</head>
<body>

<nav>
    <li><a href="homePage.html" th:href="@{/homePage}">Home</a></li>
    <li><a href="createBlog.html" th:href="@{/createBlog}">Home</a></li>
    <li><a href="loginPage.html" th:href="@{/loginPage}">Logout</a></li>
</nav>

<a href="viewBlogPost.html" th:href="@{/editDeletePost}">Edit/Delete Post</a>
<h2 th:text="${blogPost.getTitle()}">Title</h2>
<h4 th:text="${blogPost.getUsername()}">Author</h4>
<h5 th:text="${blogPost.getDate()}">Date</h5>

<h4 th:text="${blogPost.getPost()}">Blog Content</h4>

<form action="viewBlogPost.html" th:action="@{/viewBlogPost}">
    <input type="checkbox" name="like" />LIKE <br />
    Comment: <textarea name="comment" rows="4" cols="50"></textarea> <br/>
    <button>Give my opinion!</button>
</form>


</body>
</html>